@media (max-width: 768px) {
    /* 작은 화면에 대한 스타일 변경 */
    .navbar-nav {
        margin-left: 0; /* 네비게이션 메뉴의 왼쪽 여백을 없애거나 다른 값으로 조정 */
    }
}

/* 공통 스타일 */
.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar-nav {
    display: flex;
    margin-left: 840px;
    text-align: right;
}

/* 본문 스타일 */
.main-content {
    padding: 20px;
    background-color: #fff;
}
